<style>
  h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: yellow;
    vertical-align: center;
    padding-top: 300px;
  }
    a{
      text-align: center;
      margin-left:auto;
      display: block;
      text-decoration: none;
      color:brown;
      font-weight:500;
      }
      a:hover{
        text-decoration: none;
        font-weight: 500;
        color: yellow;

      }

</style>

<h1>Thank You</h1>

  <a routerLink="['']" (click)="gotohome()">HOME</a>

