<!--================ Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <p class="upper_text">Give a hand</p>
        <h2>to make the better world</h2>
        <p style="font-weight: bold;">
          The simplest acts of kindness are by far more powerful then a thousands heads bowing in prayer.
        </p>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->